@media (max-width: 900px) {

    .fixed-with {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }
}


@media (max-width:658px) {
    .header-left {

        width: 100%;
        text-align: center;
    }

    .header-right {

        width: 100%;
        text-align: center;
    }

    .header-right ul {
        text-align: center;
    }
}

@media (max-width:575px) {
    .header-right ul li a {

        padding: 0 10px;

        border-right: none;
        line-height: 50px;

    }

    .header-right ul li:first-child a {
        border-left: none;
    }
}

@media (max-width:564px) {
    .banner {
        padding: 110px 0;

    }

    .banner-tex h1 {
        font-size: 25px;
        margin-left: 11px;
    }
}

@media (max-width:486px) {
    .fixed-with {
        padding: 20px 10px;
        text-align: center;
    }
}

@media (max-width:486px) {
    .service-item {
        float: right;
        width: 100%;
        padding: 32px 10px;
        margin-top: 10px;
    }

    h3 {
        margin: 10px 0;
    }

    .blog-left-content {
        float: left;
        width: 100%;
    }

    .blog-left-Notificaiton {
        float: right;
        width: 100%;
    }

    .blog-left-Notificaiton ul li {
        text-align: left;
        padding: 9px;
        font-size: 15px;

    }

    .blog-item {
        text-align: justify;
    }

    .blog-left-Notificaiton h2 {
        font-size: 25px;
        text-align: left;
        margin-top: 10px;
    }

    .fixed-with {
        padding: 1px 10px;
        
    }



}

@media (max-width:454px) {
    .footer {

        padding: 21px 0;
    }
    .footer-left {
        width: 100%;
        text-align: center;
    }
    .footer-right {
        float: right;
        width: 100%;
        margin-top: 12px;
        
    }
    .social-menu {
        text-align: center;
    }

} 